/* DEFAULT SETTINGS */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.content {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.full-width {
    width: 100%;
}

/* HEADER */

header {
    justify-content: space-between;
    margin-top: 24px;
}

img.logo-img {
    width: 6rem;
    height: 5rem;
}

div.search-box {
    align-items: flex-end;
}

input.search {
    width: 8rem;
    padding: .4rem;
    border: 1px solid rgba(196, 196, 196, 0.3);
}

input.search::placeholder {
    font-weight: normal;
    font-size: 11px;
    color: #c4c4c4;
}

img.search {
    height: 30px;
}

/* MENU */

button.menu {
    justify-content: center;
    margin: 23px 0 10px 0;
    height: 40px;
    background-color: #3d5057;
}

button.menu a {
    text-decoration: none;
    color: #dddddd;
}

/* BANNER */

div.banner {
    height: 50%;
    margin-bottom: 1rem;
}

img.banner {
    height: 50%;
}

img.monitor {
    position: absolute;
    width: 9rem;
    height: 9rem;
    left: 17rem;
    top: 11rem;
}

/* CONTEUDO */

article.artigo {
    padding: 20px;
    background-color: #f0f0f0;
    color: #354348;
}

img.artigo {
    padding: 0 0 0.5rem 0.5rem;
    float: right;
}

article.second {
    margin-bottom: 25px;
}

.second img {
    float: left;
    margin: 0 2em 0 0;
}

.second ul {
    padding-left: 1rem;
}

/* FOOTER */

footer {
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background-color: #dddddd;
    margin-bottom: 24px;
    height: 44px;
}

footer p {
    color: #6a6565;
    text-align: center;
}

/* MEDIA QUERIES */

/* SMALL DEVICES - MOBILE S & M */

@media only screen and (max-width: 375px) {
    body {
        width: 425px;
    }
}

/* SMALL DEVICES - TABLETS  */

@media only screen and (min-width: 768px) {

    img.logo-img {
        width: 8rem;
        height: 7rem;
    }

    input.search {
        width: 15rem;
    }

    img.monitor {
        width: 15rem;
        height: 15rem;
        right: 1rem;
        top: 14rem;
        left: auto;
    }

    article.artigo {
        padding: 2rem;
    }

    article.second img {
        height: 21rem;
    }

    footer {
        height: 44px;
        margin-bottom: 24px;
        padding: 0;
    }
}

/* MEDIUM DEVICES - DESKTOPS */

@media only screen and (min-width: 1024px) {
    body {
        width: 989px;
        margin: 0 auto;
    }

    div.container {
        width: 941px;
        margin: 0 24px;
    }

    header {
        margin-top: 24px;
    }

    button.not-large {
        display: none;
    } 

    div.menu {
        justify-content: center;
    }

    button.menu {
        font-weight: normal;
        font-size: 12px;
        width: 307px;
        height: 40px;
        margin: 23px 10px 10px 0;
        padding: 0;
        margin-right: 10px;
    }

    button.menu:first-child {
        background-color: #667a82;
    }

    button.menu:last-child {
        margin-right: 0;
    }

    img.monitor {
        width: 22rem;
        height: 22rem;
    }

    div.banner {
        margin-bottom: 52px;
    }

    div.artigo {
        display: flex;
        margin-bottom:  25px;
    }

    article.artigo {
        width: 458px;
        padding: 20px;
    }

    article.artigo h3 {
        font-size: 16px;
    }

    article.artigo p {
        font-weight: normal;
        font-size: 12px;
        color: #354348;
    }

    article.second ul {
        font-size: 12px;
    }

    article.artigo:first-child {
        margin-right: 25px;
    }

    article.artigo:last-child {
        margin-bottom: 0;
    }

    footer p {
        font-size: 9px;
    }
}

/* EXCEPTION - MENU */
@media only screen  and (max-width: 1023px) {
    div.menu {
        display: none;
    }
    button.not-large {
        display: inline;
    }
}