/* MEDIA QUERIES */

/* SMARTPHONES */
@media only screen and (max-width: 375px) {
  img.artigo {
    width: 48.8vw;
  }
  article.second img {
    width: 43.2vw;
    height: 103.2vw;
  }
}

@media only screen and (max-width: 767px) {
  html, body {
    font-size: 14px;
  }
}

/* MEDIUM DEVICES - DESKTOPS */
@media only screen and (min-width: 991px) {
  .f12 {
    font-size: 12px;
  }
  body {
    width: 989px;
    margin: 0 auto;
  }
  div.container {
    width: 941px;
    margin: 0 24px;
  }
  header {
    margin-top: 24px;
  }
  img.logo-img {
    width: 13.99rem;
    height: 11.66rem;
  }
  input.search {
    width: 22.05rem;
  }
  button.not-large {
    display: none;
  }
  button.buttons {
    width: 307px;
    height: 40px;
    padding: 0;
  }
  div.banner {
    height: 17.9549875rem;
    background-size: auto;
    margin-bottom: 52px;
  }
  div.banner .monitor {
    left: 38em;
    top: 1rem;
    width: 22.399375rem;
    height: 22.399375rem;
  }
  div.artigo {
    display: flex;
    margin-bottom: 25px;
  }
  article.artigo {
    width: 418px;
  }
  article.artigo h3 {
    font-size: 16px;
  }
  article.artigo:first-child {
    margin-right: 25px;
  }
  article.artigo:last-child {
    margin-bottom: 0;
  }
  footer p {
    font-size: 9px;
  }
}

/* EXCEPTION - MENU */
@media only screen and (max-width: 990px) {
  div.menu {
    display: none;
  }
}